body{
    margin: 0;
}

.base-utmost-container-section{

}

.base-header{
    position: sticky;
    top: 0;
    float: left;
    padding: 10px;
    background-image: linear-gradient(
        to bottom right,
        rgba(4, 108, 66, 0.8),
        rgba(14, 170, 108, 0.8),
        rgba(5, 199, 121, 0.8)
    );
    border-bottom: 1px solid rgb(10, 120, 76);
    overflow: hidden;
    width: 98.4%;
}

.base-user-authenticated-finances-link-div{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.base-user-authenticated-finances-link{
    text-decoration: none;
    font-family: 'Montserrat';
    color: beige;
}

.base-unordered-list{
    list-style: none;
    float: right;
}

.base-list-link{
    display: inline-block;
}

.base-page-link{
    text-decoration: none;
    font-family: 'Montserrat';
}

#base-home-link{
    float:left;
}

#base-login-link{
    background-color: rgba(101, 209, 12, 0.8);
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(5, 150, 94);
}

#base-registration-link{
    background-color: rgba(7, 204, 128, 0.8);
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border: 1px solid rgb(5, 150, 94);
    border-radius: 10px;
}

.base-showcase-section{
    background-image: linear-gradient(to bottom right, rgb(2, 26, 17), rgb(154, 248, 212), rgb(2, 26, 17));
    color: rgb(9, 112, 81);
    font-family: 'Montserrat';
    height: 400px;
    border: 1px solid rgb(5, 150, 94);
}

.base-page-showcase-title-div{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    top: 160px;
    right:38%;
}

.base-page-showcase-subtitle-div{
    position: absolute;
    top: 220px;
    right:38%;
    font-size: 14px;
}

.base-information-block-div{
    background-image: linear-gradient(to right,
        rgb(1, 4, 3),
        rgb(4, 53, 39),
        rgb(1, 4, 3)
    );
}

.base-block-element-container-div{
    text-align: center;
}

.base-block-element-div{
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgb(5, 138, 103);
    height: 380px;
    width: 250px;
    border-radius: 10px;
    margin: 30px;
}

.base-block-element-title-div{
    font-family: 'Montserrat';
    color: beige;
    margin: 20px;
    font-size: 20px;
    font-weight: 800;
}

.base-block-element-lists{
    list-style: none;
}

.base-block-element-list{
    text-align: left;
    font-family: 'Montserrat';
    color: beige;
    margin-top: 10px;
}

.base-block-element-list-link{
    color: beige;
    text-decoration: none;
}

.base-block-element-message-div{
    text-align: left;
    font-family: 'Montserrat';
    color: beige;
    margin-left: 10px;
    font-size: 12px;
}

.base-footer{
    background-image: linear-gradient(to bottom right,
        rgb(0, 6, 4),
        rgb(2, 69, 51),
        rgb(5, 138, 103),
        rgb(4, 122, 91),
        rgb(15, 223, 167),
        rgb(86, 241, 200)
    );
    padding: 10px;
    overflow: hidden;
    font-family: 'Montserrat';
    color: beige;
}

.base-footer-copyright-div{
    text-align: center;
    margin-top: 10px;
}

.base-footer-details-div{
    float: left;
    margin-top: -40px;
    margin-left: 40px;
}

.base-footer-detail-lists{
    list-style: none;
}

.base-footer-detail-list{
    margin: 10px;
    font-size: 15px;
}

.base-footer-link{
    color: beige;
    text-decoration: none;
}

