.terms-description-container-div{
    margin: auto;
    width: 55%;
    background-color: rgb(7, 69, 53);
    padding: 20px;
    font-family: 'Montserrat';
}

.terms-title-header-div{
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    color: beige;
    letter-spacing: 2px;
}

.terms-statement-div{
    color: beige;
    line-height: 30px;
}
