<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oikonomos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="{% static 'privacy-policy.css' %}">
    <link rel="stylesheet" href="{% static 'terms-of-use.css' %}">
    <link rel="stylesheet" href="{% static 'contact-me.css' %}">
    <link rel="stylesheet" href="{% static 'responsive/base_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'responsive/about_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'responsive/privacy-policy-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'responsive/terms-of-use-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'responsive/contact-me-responsive.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="{% static 'chart.umd.js' %}"></script>
    <script src="{% static 'jquery-3.6.4.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>

</head>
<body>
    <section class="base-utmost-container-section">
        <header class="base-header">
            <div class="base-user-authenticated-finances-link-div">
                <a class="base-user-authenticated-finances-link"
                   href="{% url 'homepage' %}">
                    Home
                </a>
            </div>
            {% if not request.user.is_authenticated  %}
                <ul class="base-unordered-list">
                    <li class="base-list-link">
                        <a class="base-page-link"
                           id='base-login-link'
                           href="{% url 'login' %}">
                            Sign In
                        </a>
                    </li>
                    <li class="base-list-link">
                        <a class="base-page-link"
                           id="base-registration-link"
                           href="{% url 'registration' %}">
                            Sign up
                        </a>
                    </li>
                </ul>
            {% else %}
                <div class="base-user-authenticated-finances-link-div">
                    <a class="base-user-authenticated-finances-link"
                       href="{% url 'personal-homepage' request.user.username %}">
                        Personal Finances
                    </a>
                </div>
            {% endif %}
        </header>
        <div class="base-showcase-section">
            <div class="base-page-showcase-title-div">
                Oikonomos
            </div>
            <div class="base-page-showcase-subtitle-div">
                track, manage expenses and finances
            </div>
            <div id="screen-width">

            </div>
        </div>
        <div class="base-information-block-div">
            {% block content %}
                <div class="base-block-element-container-div">
                    <div class="base-block-element-div">
                        <div class="base-block-element-title-div">
                            Current Features
                        </div>
                        <div class="base-block-element-description-div">
                            <ul class="base-block-element-lists">
                                <li class="base-block-element-list">
                                    Track Expenses
                                </li>
                                <li class="base-block-element-list">
                                    Track Financial Flow
                                </li>
                                <li class="base-block-element-list">
                                    Data Visualization & Analytics
                                </li>
                                <li class="base-block-element-list">
                                    Add Fund Source
                                </li>
                                <li class="base-block-element-list">
                                    Dynamic Fund Source
                                </li>
                                <li class="base-block-element-list">
                                    Fund Transfer
                                </li>
                                <li class="base-block-element-list">
                                    User Friendly Interface
                                </li>
                                <li class="base-block-element-list">
                                    Seamless Expense Categorization
                                </li>
                            </ul>
                            <div class="base-block-element-message-div">

                            </div>
                        </div>
                    </div>
                    <div class="base-block-element-div">
                        <div class="base-block-element-title-div">
                            Future Implementations
                        </div>
                        <ul class="base-block-element-lists">
                            <li class="base-block-element-list">
                                Machine Learning Model Integration
                            </li>
                            <li class="base-block-element-list">
                                Deep Learning Model Integration
                            </li>
                            <li class="base-block-element-list">
                               Budget Allocation
                            </li>
                            <li class="base-block-element-list">
                               Budget Scheduling
                            </li>
                            <li class="base-block-element-list">
                               Achievements & Badges
                            </li>
                            <li class="base-block-element-list">
                               Articles
                            </li>
                        </ul>
                    </div>
                    <div class="base-block-element-div">
                        <div class="base-block-element-title-div">
                            Security & Privacy
                        </div>
                        <ul class="base-block-element-lists">
                            <li class="base-block-element-list">
                                <a class="base-block-element-list-link"
                                   href="{% url 'privacy-policy' %}">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="base-block-element-list">
                                <a class="base-block-element-list-link"
                                   href="{% url 'terms-of-use' %}">
                                    Terms of Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
        <footer class="base-footer">
            <div class="base-footer-copyright-div">
                © 2024 Oikonomos
            </div>
            <div class="base-footer-details-div">
                <ul class="base-footer-detail-lists">
                    <li class="base-footer-detail-list">
                        <a class='base-footer-link' href="{% url 'about' %}">
                            About
                        </a>
                    </li>
                    <li class="base-footer-detail-list">
                        <a class='base-footer-link' href="{% url 'contact-us' %}">
                            Contact Me
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>
    <script>
        autosize(document.querySelectorAll('.auto-growth'));
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', ()=> {
            const screenWidthDiv = document.querySelector('#screen-width');

            let screenWidth = window.innerWidth;

            screenWidthDiv.innerHTML = screenWidth;

            window.addEventListener('resize', ()=> {
                let width = window.innerWidth;
                screenWidthDiv.innerHTML = width;
            });
        });


    </script>
</body>
</html>